<footer class="footer">
    <div class="footer__first">
        <img class="footer__first__logo" src="img/icons/logo-desktop.svg" alt="Logo">

        <p>
            Copyright © 2025
        </p>

        <a href="#">
            Ranking i porównanie hostingów
        </a>

        <p>Powered by Vmline.pl</p>

        <a href="#">Polityka prywatności</a>

        <div class="footer__first__social">
            <a href="#">
                <img src="img/icons/logo-facebook.svg" alt="facebook">
            </a>
            <a href="#">
                <img src="img/icons/logo-instagram.svg" alt="instagram">
            </a>
            <a href="#">
                <img src="img/icons/logo-twitter.svg" alt="twitter">
            </a>
            <a href="#">
                <img src="img/icons/logo-email.svg" alt="email">
            </a>
        </div>
    </div>

    <div class="footer__second">
        <div class="footer__nav">
            <h3>Popularne</h3>
            <nav>
                <ul>
                    <li><a href="#">Serwery dedykowane</a></li>
                    <li><a href="#">Hosting w chmurze</a></li>
                    <li><a href="#">Hosting dla sklepu</a></li>
                    <li><a href="#">Hosting zagraniczny</a></li>
                    <li><a href="#">Hosting Wordpress</a></li>
                </ul>
            </nav>
        </div>

        <div class="footer__nav">
            <h3>Opinie</h3>
            <nav>
                <ul>
                    <li><a href="#">Nazwa.pl opinie</a></li>
                    <li><a href="#">HostingHouse opinie</a></li>
                    <li><a href="#">Atthost opinie</a></li>
                    <li><a href="#">Seohost opinie</a></li>
                    <li><a href="#">Smarthost recenzja</a></li>
                </ul>
            </nav>
        </div>

        <div class="footer__nav">
            <h3>Nowości</h3>
            <nav>
                <ul>
                    <li><a href="#">Hostido recenzja</a></li>
                    <li><a href="#">AZ recenzja</a></li>
                    <li><a href="#">LH opinie</a></li>
                    <li><a href="#">Seohost opinie</a></li>
                    <li><a href="#">Smarthost recenzja</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>