<header class="header">
    <div class="logo">
        <picture>
            <source srcset="img/icons/logo-desktop.svg" media="(min-width: 768px)">

            <img src="img/icons/logo.svg" alt="Logo">
        </picture>
    </div>
    <nav class="nav">
        <ul>
            <li><a href="#">Tani hosting</a></li>
            <li><a href="#">Hosting VPS</a></li>
            <li class="has-sub">
                <div class="block">
                    <a href="#">Opinie</a>

                    <button class="sub-arrow">
                        <img src="img/icons/arrow.svg" alt="arrow"/>
                    </button>
                </div>
                <ul class="submenu">
                    <li><a href="#">Lorem ipsum euismod</a></li>
                    <li><a href="#">Lorem ipsum euismod</a></li>
                    <li><a href="#">Lorem ipsum euismod</a></li>
                </ul>
            </li>
            <li><a href="#">O Nas</a></li>
            <li><a href="#">Kontakt</a></li>
        </ul>
    </nav>

    <button class="burger-button">
        <svg class="burger" width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <rect class="line top" x="0" y="8" width="32" height="3" fill="#3235E7" rx="2"/>
            <rect class="line bottom" x="8" y="20" width="24" height="3" fill="#3235E7" rx="2"/>
        </svg>
    </button>


</header>