$header-bg: #fafaff;
$text-color: #020220;
$text-secondary: #565656;
$button-bg: #eaf6ff;
$burger-color: #3235e7;
$dot-color-green: #008000;
$dot-color-red: #B00003;
$border-color: #d6d6d6;
$burger-width: 32px;
$burger-height: 12px;
$line-height: 2px;
$transition-time: 0.3s;